

h2{
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 300;
    color: white;
    font-size: 1.5em;
}
#h3contacto{
    color: black;
    font-weight: 300;
    font-size: 1.2em;
}

hr{
    color: cornflowerblue;
    border: 1px solid;
    width: 90%;
}

button{
    color: black
}

#Contacto{
    background-color: white;
    width: 70%;
    height: 400px;
}

#Destacados2{
    height: 507px;
}
.imagen{
    height: 660px;
}

a{
    color: azure;
}

.containerCentral{
    background-color: black;
}



.card{
    background-color: black;
    color: blanchedalmond;
}
.rectangulo{

    width: 100%;
  
}

#imagen2{
    height: 47%;
}

#Footer{
    height: 50px;
}

.tooltip-inner {
    background-color: #00cc00;
    }
    .tooltip.bs-tooltip-right .arrow:before {
        border-right-color: #00cc00 !important;
    }
    .tooltip.bs-tooltip-left .arrow:before {
        border-left-color: #00cc00 !important;
    }
    .tooltip.bs-tooltip-bottom .arrow:before {
        border-bottom-color: #00cc00 !important;
    }
    .tooltip.bs-tooltip-top .arrow:before {
        border-top-color: #00cc00 !important;
    }